/* General styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2498c9, #89abe3);
    color: #333;
}

h1, h2 {
    color: #000b0f;
}

/* About Section */
#about {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(10, 1, 1); /* Text color changed to white */
}

#about p {
    font-size: 1.1rem;
}

/* Awareness Section */
#awareness {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(14, 1, 1); /* Text color changed to white */
}

#awareness .col-md-4 {
    margin: 20px 0;
}


/* Footer */
footer {
    margin-top: 50px;
    background-color: #eff2f5;
}

footer p {
    margin: 0;
    color: white;
}
